---
import Social from './Social.astro';
const platform = "github";
const username = "priyanka1121";
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
</style>
<footer>
    <p>
        Learn more about my projects on <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
    </p>
    <Social platform="twitter" username="piku_1121" />
  <Social platform="github" username="priyanka1121" />
  <Social platform="youtube" username="Priyanka Gupta" />
</footer>
